@page
@model HessTrucks.Web.Pages.Toys.IndexModel
@{
    var categories = Model.Categories.Select(c =>
        new SelectListItem(c.Name, c.CategoryId.ToString()))
        .ToList();
}
<div class="row mt-5 mb-3">
    <form  >
        <select asp-items="categories"></select>
    </form>
</div>

<h1>List of trucks</h1>
<table class="table">
    @{ 
        foreach(var truck in Model.Trucks)
        {
        <tr>
            <td>
                <a asp-page="./Detail" 
                   asp-route-truckId="@truck.TruckId">@truck.Name</a>
            </td>
            <td>@truck.Year</td>
            <td>@truck.Price</td>
            <td>@truck.DefaultPhotoPath</td>
            <td>
                <a asp-page="./Edit"
                   asp-route-truckId="@truck.TruckId">
                    <i class="glyphicon glyphicon-edit">Edit</i>

                </a>
            </td>
        </tr>
        }
    }
</table>